<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">

</head>
<body class="container">

<div style="text-align: center;">
    <h1> Prison Management System </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/prison-management-system">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  active" href="#" id="navbarDropdownPrisoner" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Prisoner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item  active" href="/prison-management-system/prisoners/prisoner-add">Add
                            Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners">View all Prisoners</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Add Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs">View all Staff Members</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Crime
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/crimes/crime-add">Add Crime</a>
                        </li>
                        <li><a class="dropdown-item" href="/prison-management-system/crimes">View all Crimes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPunishment" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Punishment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/punishments/punishment-add">Add
                            Punishment</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/punishments">View all
                            Punishments</a></li>
                    </ul>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<h2 th:text="${pageName}"></h2>

<div class="col-md-3"></div>
<div class="col-md-4">
    <form th:object="${prisoner}" method="post" th:action="@{/prison-management-system/prisoners}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" required th:field="*{name}" id="exampleInputName"
                   aria-describedby="nameHelp">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputSurname" class="form-label">Surname</label>
            <input type="text" class="form-control" required th:field="*{surname}" id="exampleInputSurname"
                   aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text"></div>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="exampleInputPersonalCode" class="form-label">Personal Code</label>
            <input type="text" th:field="*{personalCode}" required class="form-control" id="exampleInputPersonalCode">
            <span th:if="${#fields.hasErrors('personalCode')}" th:errors="*{personalCode}" class="text-danger"></span>
            <span th:text="${errorFromController}"class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputAddress" class="form-label">Address</label>
            <input type="text" th:field="*{address}" required class="form-control" id="exampleInputAddress">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleDataListCrimes" class="form-label">Crimes</label>
            <br>
            <input class="form-control" th:field="*{crimes}" id="exampleDataListCrimes"
                   list="datalistOptionsCrimes" name="crimes"
                   placeholder="Type to search...">
            <datalist id="datalistOptionsCrimes">
                <option th:each="crime : ${crimeList}"
                        th:text="${crime.crimeDescription}"
                        th:value="${crime.crimeDescription}"></option>
            </datalist>
            <span th:if="${#fields.hasErrors('crimes')}" th:errors="*{crimes}" class="text-danger"></span>
            <span th:text="${errorFromController}"class="text-danger"></span>
        </div>
        <div class="my-5"><a class="btn btn-success"><i class="fas fa-plus ml-2"> </i></a></div>


        <div class="mb-3">
            <label for="exampleInputStartDate" class="form-label">Start Date</label>
            <input type="date" th:field="*{startDate}" required class="form-control" id="exampleInputStartDate">
            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleDataListPunishment" class="form-label">Punishment</label>
            <br>
            <input class="form-control" th:field="*{punishment}" id="exampleDataListPunishment"
                   list="datalistOptionsPunishment" name="punishment"
                   placeholder="Type to search...">
            <datalist id="datalistOptionsPunishment">
                <option th:each="punishment : ${punishmentList}"
                        th:text="${punishment.imprisonmentMonths}"
                        th:value="${punishment.imprisonmentMonths}"></option>
            </datalist>
            <span th:if="${#fields.hasErrors('punishment')}" th:errors="*{punishment}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPhoto" class="form-label">Photo:</label>
            <input type="file" class="form-control" name="image" accept="image/jpeg" id="exampleInputPhoto">
            <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" class="text-danger"></span>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>