<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css">
    <script type="text/javascript" th:src="@{~/js/mock.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.dropdown.css}">
    <script th:src="@{~/js/jquery.dropdown.js}"></script>

</head>
<body class="container">
<div style="text-align: center;">
    <h1> Prison Management System </h1>
</div>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/prison-management-system">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  active" aria-current="page" href="#" id="navbarDropdownPrisoner"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Prisoner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-add">Add
                            Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners">View all Prisoners</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Add Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Search Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs">View All Staff Members</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Crime
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/crimes/crime-add">Add Crime</a>
                        </li>
                        <li><a class="dropdown-item" href="/prison-management-system/crimes">View all Crimes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPunishment" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Punishment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/punishments/punishment-add">Add
                            Punishment</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/punishments">View all
                            Punishments</a></li>
                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCapacity" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Capacity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-now">Check
                            current</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-otherDay">Check
                            on other date</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStatistics" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Statistics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-duration">By
                            Imprisonment Duration</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-crimes">By Crimes
                            Committed</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<h2 th:text="${pageName}"></h2>

<div class="col-md-3"></div>
<div class="col-md-4">
    <form th:object="${prisoner}" method="post"
          th:action="@{/prison-management-system/prisoners/update/{id}(id=${prisoner.id})}"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" required th:field="*{name}" id="exampleInputName"
                   aria-describedby="nameHelp">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputSurname" class="form-label">Surname</label>
            <input type="text" class="form-control" required th:field="*{surname}" id="exampleInputSurname"
                   aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text"></div>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="exampleInputPersonalCode" class="form-label">Personal Code</label>
            <input type="text" th:field="*{personalCode}" required class="form-control" id="exampleInputPersonalCode">
            <span th:if="${#fields.hasErrors('personalCode')}" th:errors="*{personalCode}" class="text-danger"></span>
            <span th:text="${errorFromController}" class="text-danger"></span>
        </div>

        <div>
            <label for="exampleInputPhoto" class="form-label">Change photo</label>
            <input type="file" class="form-control" name="image" accept="image/jpeg" id="exampleInputPhoto"
                   aria-describedby="nameHelp">
            <span th:text="${PhotoError}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleInputAddress" class="form-label">Address</label>
            <input type="text" th:field="*{address}" required class="form-control" id="exampleInputAddress">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleDataListCrimes" class="form-label">Change existing crimes</label>
            <br>
            <div class="row">
                <div>
                    <div class="dropdown-mul-1">
                        <select style="display:none" name="crimesJson" multiple th:field="*{crimesJson}"
                                id="exampleDataListCrimes">
                            <option th:each="crime : ${crimeList}"
                                    th:value="${crime.id}" th:text="${crime.crimeDescription}">
                            </option>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <span th:if="${#fields.hasErrors('crimes')}" th:errors="*{crimes}" class="text-danger"></span>
            <span th:text="${errorForCrime}" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label for="exampleInputStartDate" class="form-label">Start Date</label>
            <input type="date" th:field="*{startDate}" required class="form-control" id="exampleInputStartDate">
            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label for="exampleDataListPunishment" class="form-label">Imprisonment Months</label>
            <div class="row">
                <div>
                    <div class="dropdown-sin-1">
                        <select style="display:none" name="punishmentId" th:field="*{punishmentId}"
                                id="exampleDataListPunishment" required>
                            <option th:each="punishment : ${punishmentList}"
                                    th:value="${punishment.id}" th:text="${punishment.imprisonmentMonths}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left">
            <a class="btn btn-secondary btn-sm" th:href="@{/prison-management-system/prisoners}"
               role="button">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>


    </form>
</div>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
    dd='0'+dd
    }
    if(mm<10){
    mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("exampleInputStartDate").setAttribute("max", today);




</script>
<script>
    $('.dropdown-mul-1').dropdown({
        limitCount: 40,
        multipleMode: 'label',
    });
    $('.dropdown-sin-1').dropdown({
        readOnly: true,
        input: '<input type="text" maxLength="20" placeholder="Search">'
    });




</script>

</body>
</html>