<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:inline="javascript">
    var countDownDateHours = new Date([[${prisoner.endDate}]]);
    countDownDateHours.setHours(countDownDateHours.getHours()+12);
    var countDownDate = countDownDateHours.getTime();

    var x = setInterval(function() {
    var now1 = new Date();
    now1.setHours(now1.getHours()+3);
    var now = now1.getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
     + minutes + "m " + seconds + "s ";
    if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "FREED";
    }
    }, 1000);

    </script>
    <style type="text/css">
       body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
    }
    .account-settings .user-profile {
    margin: 0 0 1rem 0;
    text-align: center;
    }
    .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
    }
    .account-settings .user-profile .user-avatar-img {
    float: left;
    width: -webkit-fill-available;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0 -20px;
    padding: 3px;
    border-radius: 4px;
    background: #fff
    }
    .account-settings .user-profile .user-avatar-img img {
    max-width: 100%;
    max-height: 100%
    }
    .account-settings .user-profile .name-name  h5 {
    padding-top: 250px;
    }
    .account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
    }
    .account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
    }
    .form-group {
    margin-top: 3%;
    }
    .form-group label{
    margin-bottom: 1%
    }
    .form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    }
    .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    }
    .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    }
    .d-grid{
    margin-top: 10px;
    }
    p {
     text-align: center;
     font-size: 25px;
    margin-top: 0px;
    }

    </style>
</head>
<body class="container">
<div style="text-align: center;">
    <h1> Prison Management System </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/prison-management-system">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  active" aria-current="page" href="#" id="navbarDropdownPrisoner"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Prisoner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-add">Add
                            Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-search">Search
                            Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners">View all Prisoners</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Add Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-search">Search Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs">View all Staff Members</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Crime
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/crimes/crime-add">Add Crime</a>
                        </li>
                        <li><a class="dropdown-item" href="/prison-management-system/crimes">View all Crimes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPunishment" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Punishment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/punishments/punishment-add">Add
                            Punishment</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/punishments">View all
                            Punishments</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCapacity" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Capacity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-now">Check
                            current</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-otherDay">Check
                            on other date</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStatistics" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Statistics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-duration">By
                            Imprisonment Duration</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-crimes">By Crimes
                            Committed</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<h2>Prisoner Profile</h2><br>
<div th:object="${prisoner}" method="post"
     th:action="@{/prison-management-system/prisoners/profile/{id}(id=${prisoner.id})}" class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar-img">
                                <img th:src="@{${prisoner.getPhotoImagePath}}"/>
                            </div>
                            <div class="name-name">
                                <h5 th:text="${prisoner.name}+ ' ' +${prisoner.surname}" style="font-weight:bold"></h5>
                            </div>
                        </div>
                        <div class="about">
                            <label>Prisoner Number</label>
                            <h5 th:text="${prisoner.id}"></h5>
                        </div>
                        <div class="countdown" style="text-align: center">
                            <label>Time till emancipation:</label>
                            <p id="demo"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <form th:object="${prisoner}" method="get"
                  th:action="@{/prison-management-system/prisoners/profile/{id}(id=${prisoner.id})}">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputName">Name</label>
                                    <input type="text" class="form-control" th:field="*{name}"
                                           id="exampleInputName"
                                           aria-describedby="nameHelp" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputSurname">Surname</label>
                                    <input type="text" class="form-control" th:field="*{surname}"
                                           id="exampleInputSurname"
                                           aria-describedby="usernameHelp" readonly="readonly">
                                    <div id="usernameHelp" class="form-text"></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputPersonalCode">Personal Code</label>
                                    <input type="text" th:field="*{personalCode}" class="form-control"
                                           id="exampleInputPersonalCode" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputAddress">Address</label>
                                    <input type="text" th:field="*{address}" class="form-control"
                                           id="exampleInputAddress" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Imprisonment Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputStartDate">Start Date</label>
                                    <input type="text" th:field="*{startDate}" class="form-control"
                                           id="exampleInputStartDate" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleInputEndDate">End Date</label>
                                    <input type="text" th:field="*{endDate}" class="form-control"
                                           id="exampleInputEndDate" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleDataListCrimes" class="form-label">Crimes</label>
                                    <input class="form-control" th:value="${prisoner.crimeDescriptions}"
                                           id="exampleDataListCrimes" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="exampleDataListPunishment">Imprisonment Months</label>
                                    <input class="form-control" th:field="*{punishment.imprisonmentMonths}"
                                           th:value="${prisoner.punishment.imprisonmentMonths}"
                                           id="exampleDataListPunishment" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row gutters">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="text-right">
                                    <a class="btn btn-secondary btn-sm" th:href="@{/prison-management-system/prisoners}"
                                       role="button">Cancel</a>
                                    <a class="btn btn-primary btn-sm"
                                       th:href="@{/prison-management-system/prisoners/update/{id}(id=${prisoner.id})}"
                                       role="button">Edit profile</a>
                                    <a class="btn btn-danger btn-sm"
                                       th:href="@{/prison-management-system/prisoners/delete/{id}(id=${prisoner.id})}"
                                       role="button">Delete Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>