<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">


</head>
<body class="container">
<div style="text-align: center;">
    <h1>   Prison Management System   </h1>
</div>




<h2 th:text="${pageName}"></h2>
<div class="container text-center">
    <div>
        <h3> You have signed in succesfully </h3>
        <h4> <a th:href="@{/login}">Click to login</a></h4>
    </div>


</div>

</body>
</html>


<!--<div class="container text-center">
    <div>
        <h3> You have signed in succesfully </h3>
        <h4> <a th:href="@{prison-management-system/login}">Click to login</a></h4>
    </div>


</div>-->