<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body class="container">

<div style="text-align: center;">
    <h1>   Prison Management System   </h1>
</div>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/prison-management-system">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrisoner" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Prisoner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-add">Add Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners">View all Prisoners</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  active" aria-current="page"  href="#" id="navbarDropdownStaff" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Add Staff Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Search Staff Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs">View All Staff Members</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrime" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Crime
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/crimes/crime-add">Add Crime</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/crimes">View all Crimes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPunishment" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Punishment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/punishments/punishment-add">Add Punishment</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/punishments">View all Punishments</a></li>
                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCapacity" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Capacity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-now">Check current</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-otherDay">Check on other date</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStatistics" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Statistics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-duration">By Imprisonment Duration</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-crimes">By Crimes Committed</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<h2 th:text="${pageName}"></h2>

<div class="col-md-3"></div>
<div class="col-md-4">
    <form th:object="${staff}" method="post" th:action="@{/prison-management-system/staffs/update/{id}(id=${staff.id})}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" required th:field="*{name}" id="exampleInputName"
                   aria-describedby="nameHelp">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputSurname" class="form-label">Surname</label>
            <input type="text" class="form-control" required th:field="*{surname}" id="exampleInputSurname"
                   aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text"></div>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label for="exampleInputPhoto" class="form-label">Change photo</label>
            <input type="file" name="image" class="form-control" accept="image/jpeg" id="exampleInputPhoto">

        </div>
        <div class="mb-3">
            <label for="exampleInputPersonalCode" class="form-label">Personal Code</label>
            <input type="text" th:field="*{personalCode}" required class="form-control" id="exampleInputPersonalCode">
            <span th:if="${#fields.hasErrors('personalCode')}" th:errors="*{personalCode}" class="text-danger"></span>
            <span th:text="${errorFromController}"class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="exampleInputPhoneNumber" class="form-label">Phone Number</label>
            <input type="text" th:field="*{phoneNumber}" required class="form-control" id="exampleInputPhoneNumber">
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleInputOccupation" class="form-label">Choose Occupation</label>
            <select th:field="*{occupation}" required class="form-control" id="exampleInputOccupation">
                <option
                        th:each="occupation : ${occupationList}"
                        th:value="${occupation}"
                        th:text="${occupation}">

                </option>
            </select>
            <span th:if="${#fields.hasErrors('occupation')}" th:errors="*{occupation}" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="exampleInputAddress" class="form-label">Address</label>
            <input type="text" th:field="*{address}" required class="form-control" id="exampleInputAddress">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>