<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

    <style type="text/css">
    table {
    counter-reset: rowNumber;
    }
    table tbody tr{
     counter-increment: rowNumber;
    }
     table tbody tr td:first-child::before{
     content: counter(rowNumber) ". ";
     }
    </style>
</head>
<body class="container">

<div style="text-align: center;">
    <h1> Prison Management System </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/prison-management-system">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrisoner" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Prisoner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-add">Add
                            Prisoner</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/prisoners/prisoner-search">Search
                            Prisoner</a></li>
                        <li><a class="dropdown-item " href="/prison-management-system/prisoners">View all Prisoners</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Staff
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-add">Add Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs/staff-search">Search Staff
                            Member</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/staffs">View All Staff Members</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCrime" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Crime
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/crimes/crime-add">Add Crime</a>
                        </li>
                        <li><a class="dropdown-item" href="/prison-management-system/crimes">View all Crimes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPunishment" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Punishment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/punishments/punishment-add">Add
                            Punishment</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/punishments">View all
                            Punishments</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCapacity" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Capacity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-now">Check
                            current</a></li>
                        <li><a class="dropdown-item" href="/prison-management-system/capacities/capacity-otherDay">Check
                            on other date</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" aria-current="page" href="#"
                       id="navbarDropdownStatistics" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Statistics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prison-management-system/statistics-duration">By
                            Imprisonment Duration</a></li>
                        <li><a class="dropdown-item active" style="background-color: #212529"
                               href="/prison-management-system/statistics-crimes">By Crimes Committed</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" >
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<h2 th:text="${pageName}"></h2>
<br>
<div th:switch="${prisoners}" class="container my-5">
    <div class="row">
        <div class="col-md-10">
            <h2 th:case="null">No Prisoners Yet!</h2>
            <div th:case="*">
                <table class="table table-hover table-responsive-sm">
                    <thead class="table-light" style="text-align:center">
                    <tr>
                        <th>#</th>
                        <th>Prisoner ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Crimes Committed</th>
                        <th>Crimes</th>
                        <th>Imprisonment Months</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prisoner : ${prisoners}">
                        <td>
                        <td th:text="${prisoner.id}" style="text-align:center"></td>
                        <td th:text="${prisoner.name}"></td>
                        <td th:text="${prisoner.surname}"></td>
                        <td th:field="*{crimes}" th:text="${prisoner.crimes.size()}"
                            style="text-align:center; color:red"></td>
                        <td th:text="${prisoner.crimeDescriptions}"></td>
                        <td th:field="*{punishment}" th:text="${prisoner.punishment.imprisonmentMonths}"
                            style="text-align:center"></td>
                        <td th:text="${prisoner.status}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
